.cart {
  width: 18px;
  height: 18px;
}

/*Since fill did not work, changing colors with filter on hover and focuds*/
.cart:hover,
.cart:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.notification {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  z-index: -1;
}
