.wrapper {
  width: clamp(350px, 50%, 500px);
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin: 10px;
}

.wrapper figcaption,
.wrapper section {
  display: flex;
  flex-direction: row;
  min-width: 100%;

}

.wrapper figcaption {
  justify-content: space-between;
  color: white;
  font-size: 1.2rem;
}

.wrapper section {
  justify-content: space-around;
}

.wrapper input {
  max-width: 40px;
  margin-left: 5px;
}
