.wrapper main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 50vh;
  max-width: max-content;
}

main header h1 {
  color: white;
  font-size: 5rem;
  text-align: left;
}

main section {
  max-width: 70%;
}
