body {
  background-image: url(./assets/images/background-min.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100vw;
}

#root {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
